body{
    background-color: steelblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 75px;
}
.jo{
    background-color: aliceblue;
    width: 450px;
    height: 250px;
}
h1{
    text-align: center;
}
input{
    margin: 5px;
}
.red{
    color: red;
}
.blue{
    color: blue;
}